body {
  background-color: #f7f9fc; 
  margin: 0;
}
.to-do-list{
  font-family:  Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
  background: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  max-width: 700px;
  margin: 100px auto;
}
h1{
  font-size: 4rem;
}
button{
  font-size: 1rem; 
  font-weight: bold; 
  padding: 8px 12px;
  margin-left: 5px; 
  border-radius: 4px;
  color:white;
  border:none;
  cursor : pointer ; 
  transition: background-color 0.5s ease;
}

.add-button{
  background-color: hsl(125, 47%, 54%);
  padding: 8px 15px;
  vertical-align: middle; /* Aligns it perfectly with the input */
  margin-left: 10px;
}
.add-button:hover{
  background-color: hsl(125, 47%, 44%);
}
.delete-button{
  background-color: hsl(10, 90%, 50%);
  padding: 8px 15px;
}
.delete-button:hover{
  background-color: hsl(10, 90%, 40%);
}
.move-button{
  background-color: hsl(207, 90%, 64%);
  padding: 8px 15px;
}
.move-button:hover{
  background-color: hsl(207, 90%, 55%);
}

input[type="text"]{
  font-size: 1.6rem;
  padding:10px;
  border:2px solid hsla(0, 0%, 80%,0.5);
  border-radius: 5px;
  color:black;
  width: 300px;
  outline: none;
  transition: border-color 0.3s ease;
}
input[type="text"]:focus {
  border-color: hsl(125, 47%, 54%); 
}
ol
{
padding : 0;
}
li{
  font-size: 2rem;
  font-weight:bold;
  padding:15px;
  background-color:white;
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%,0.75);
  border-radius:5px;
  display: flex;
  align-items : center;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.05); 
  max-width: 600px; 
  margin-left: auto;
  margin-right: auto;
}

.text {
  flex: 1; /* This pushes the buttons to the far right */
  text-align: left;
  margin-right: 15px;
  color: #333;
}

